.section{
	background-image: url('../Fotot/background.jpg');
	background-size: cover;
	background-position: center;
    height: 750px;
    /* margin-top: 30px; */
}
.container{
    background-color: white;
    position: relative;
    /* margin-top: 150px; */
    margin-left: 27%;
    margin-bottom: 150px;
    padding-left: 160px;
    padding-top: 100px;
    border: 1px solid white;
    height: 400px;
    width: 700px;
}
.col-md-6{

}
.check-in{
    color: rgb(124, 82, 3);
}
.check-out{
    color: rgb(97, 64, 3);
}