* {
    box-sizing: border-box;
}
body{
    /* background-color: rgb(209, 244, 245); */
    background-image: url('../Fotot/foto9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    box-shadow: 5px 10px 40px rgb(49, 204, 178);
    width: 500px;
    height: 600px;
    background-color: white;
    margin-top: 70px;
    margin-left: 500px;
    margin-bottom: 70px;
}

h1{
    background-color: rgb(49, 204, 178);
    color: white;
    width: 500px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 55px;
}
.name{
    width: 100px;
    height: 20px;
}


/* @media screen and (max-width: 700px) {
    .row,
    .navbar {
      flex-direction: column;
    }
  } */